<div style="margin: 15px; max-width: 1000px;">
    <p>Come join us for incredible food! Except don't, becasue this isn't a real restaurant. But why not check out our fake menus and create an account and place fake orders!</p>
    <p style="font-size: 1em;"><span style="font-weight: bold; font-size: 1.2em;">This site it a work in progress.</span> Not all planned functionallity is implimented and some functionallity may only be half implimented (i.e the login page). Additionaly, the current css is not the nicest looking, but it for working purpouses and will be cleaned up in the future.</p>
    <p>Backend is working though, so feel free to make API calls!</p>
</div>
