<div class="tabContainer" id="menuDisplayTabContatiner">
    <input *ngFor="let menu of menus" type="button" class="menu" (click)="clickTab(menu.id)" value="{{menu.menuName}}">
</div>
<div *ngIf="isAdmin" style="margin: 10px;">
    <div id="createMenu">
        <button (click)=openMenuCreate()>Create New Menu</button>
    </div>
    <div id="createMenuForm" style="display: none;">
        <form #createMenuForm="ngForm" (ngSubmit)="createMenu(createMenuForm)">
            <div>
                <label>Menu Name</label>
                <input type="text" name="menuName" required ngModel>
            </div>
            <input type="submit" (click)=closeMenuCreate() value="Create">
            <input type="button" (click)=closeMenuCreate() value="Cancel">
        </form>
    </div>
</div>
