<div class="tabContainer" id="menuDisplayTabContatiner">
    <ul>
        <li *ngFor="let menu of menus" id="menuTab_{{menu.id}}">
            <button (click)="clickTab(menu.id)">{{menu.menuName}}</button>
        </li>
    </ul>
</div>
<div *ngIf="isAdmin">
    <div id="createMenu">
        <button (click)=openMenuCreate()>Create New Menu</button>
    </div>
    <div id="createMenuForm" style="display: none;">
        <form #createMenuForm="ngForm" (ngSubmit)="createMenu(createMenuForm)">
            <div>
                <label>Menu Name</label>
                <input type="text" name="menuName" required ngModel>
            </div>
            <input type="submit" (click)=closeMenuCreate() value="Create">
            <input type="button" (click)=closeMenuCreate() value="Cancel">
        </form>
    </div>
</div>
